GRANDPA_FTP_HOST=ftp.example.com
GRANDPA_FTP_USERNAME=
GRANDPA_FTP_PASSWORD=
GRANDPA_FTP_PORT=21
GRANDPA_FTP_PATH=/
GRANDPA_FTP_PASSIVE=true

GRANDPA_SFTP_HOST=
GRANDPA_SFTP_USERNAME=
GRANDPA_SFTP_PASSWORD=
GRANDPA_SFTP_PRIVATE_KEY=
GRANDPA_SFTP_PASSPHRASE=
GRANDPA_SFTP_PORT=22
GRANDPA_SFTP_PATH=

GRANDPA_S3_KEY=
GRANDPA_S3_SECRET=
GRANDPA_S3_REGION=us-east-1
GRANDPA_S3_BUCKET=
GRANDPA_S3_PATH=
GRANDPA_S3_ENDPOINT=
GRANDPA_S3_USE_PATH_STYLE=false

GRANDPA_GITLAB_PROJECT_ID=
GRANDPA_GITLAB_BRANCH=main
GRANDPA_GITLAB_BASE_URL=https://gitlab.com
GRANDPA_GITLAB_TOKEN=
GRANDPA_GITLAB_PATH=

GRANDPA_GOOGLE_DRIVE_CLIENT_ID=
GRANDPA_GOOGLE_DRIVE_CLIENT_SECRET=
GRANDPA_GOOGLE_DRIVE_REFRESH_TOKEN=
GRANDPA_GOOGLE_DRIVE_PATH=

GRANDPA_SSH_HOST=user@example.com

GRANDPA_TELEGRAM_BOT_TOKEN=
GRANDPA_TELEGRAM_BASE_URL=https://api.telegram.org
GRANDPA_TELEGRAM_CHAT_ID=
GRANDPA_TELEGRAM_TOPIC_ID=
