GRANDPA_FTP_HOST=ftp.example.com
GRANDPA_FTP_USERNAME=
GRANDPA_FTP_PASSWORD=
GRANDPA_FTP_PORT=21
GRANDPA_FTP_PATH=/
GRANDPA_FTP_PASSIVE=true

GRANDPA_SSH_HOST=user@example.com

GRANDPA_TELEGRAM_BOT_TOKEN=
GRANDPA_TELEGRAM_BASE_URL=https://api.telegram.org
GRANDPA_TELEGRAM_CHAT_ID=
GRANDPA_TELEGRAM_TOPIC_ID=
